.tabs-container{
  max-width: 1000px;
  margin: 0 auto;
  margin-left: 40px;
  margin-right: 40px;
}

.tabs {
  overflow: hidden;
  border-bottom: 0;
  font-family: "CiutadellaRoundedRegular",sans-serif;
  max-width: 400px;
  border-color: #BDCDDF;
}

.tab-link{
  float: left;
  cursor: pointer;
  padding: 14px 40px;
  transition: 0.3s;
  font-weight: bold;
}

.tab-active .tab-link{
  position: relative;
  bottom: -1px;
  border-color: #BDCDDF;
  background-color: #F1F5F9;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-bottom: 2px solid #F1F5F9;
  border-radius: 20px 20px 0 0;
  z-index: 3;
  color: #fe143e;
  text-decoration: underline;
  font-weight: bold;
}


.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  position: relative;
  padding: 6px 12px;
  border-color: #BDCDDF;
  background-color: #F1F5F9;
  border-style: solid;
  border-width: 1px;
  z-index: 1;
  margin-top: -1px;
}