.tabs-container{
  margin: 18px auto;
}

.tabs {
  display: flex;
  overflow: hidden;
  border-bottom: 0;
  font-family: "CiutadellaRoundedRegular",sans-serif;
  font-size: 18px;
  border-color: #BDCDDF;
}

.tab-link {
  float: left;
  cursor: pointer;
  padding: 14px 40px;
  transition: 0.3s;
  font-weight: bold;
}

.tab-active .tab-link {
  position: relative;
  bottom: -1px;
  border-color: #BDCDDF;
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  border-bottom: 2px solid #F1F5F9;
  border-radius: 20px 20px 0 0;
  z-index: 3;
  color: #2D2E83;
  text-decoration: none;
  font-weight: bold;
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: white;
}

.tabcontent {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 18px;
  position: relative;
  padding: 12px 12px;
  border-color: #BDCDDF;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  z-index: 1;
  margin-top: -1px;
}

.tabcontent-image{
  max-width: 33%;
}

.tabcontent-text{
  flex: 1;
}

@media screen and (max-width: 520px) {
  .tab-link{
      padding: 14px 20px;
  }
}