.callout-container {
    max-width: 100%;
    margin: 18px auto;
    background-color: #F1F5F9;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    border-radius: 15px;
}

.title {
    font-family: "CiutadellaRoundedBOLD",sans-serif;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 10px;
}

@media screen and (max-width: 880px) {
  .callout-container {
    gap: 20px;
  }
}