a {
  color: #fff;
  font-family: 'CiutadellaRoundedBOLD', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-toggle .dropdown-chevron {
  margin-left: 8px;
  transform: translateY(-1px);
}

.dropdown-toggle > .dropdown-toggle__title {
  font-family: 'CiutadellaRoundedBOLD', sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.header__menu-list-item .dropdown-toggle {
    height: 60px;
    display: inline-flex;
    align-items: center;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

.dropdown-toggle:hover{
  background-color: rgb(69, 73, 153);
}

.dropdown.is-active .dropdown-toggle__title, .dropdown-item.is-active {
    color: #ff2441 !important;
    text-decoration: underline;    
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #ff2441;
    text-decoration: underline;
}

.dropdown-toggle {
    position: relative;
    height: 60px;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 100%;
  display: none;
  float: left;
  padding: .5rem 0;
  font-size: 1rem;
  color: #32323a;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-color: rgba(0,0,0,.15);
  border-style: solid;
  border-width: 0px 1px 1px 1px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #121212;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

@media (min-width: 992px) {
  .header__menu-list-item a {
    font-size: 20px;
    line-height: 20px;
  }
}

.header__menu-list-item a {
  font-family: "Ciutadella Rounded",sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  color: #121212;
  text-decoration: none;
}

.dropdown-menu .dropdown-item {
  font-family: "CiutadellaRoundedRegular",sans-serif;
}

.dropdown-toggle:hover .dropdown-menu {
  display: block;
  position: absolute;
  transform: translate3d(0px, 55px, 0px);
  top: 5px;
  left: 0px;
  will-change: transform;
}

@media (min-width: 768px) {
  .dropdown-item {
      padding: 4px 10px;
  }
}

@media screen and (max-width: 1200px) {
  .slds-show{
    font-size: 11px;
  }
}

@media screen and (max-width: 992px) {
  .mobile-item {
    padding: 10px 20px;
    font-size: 32px;
  }

}

.mobile-hide {
    display: none;
}