.cbbcontainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
    margin: 18px auto;
    font-size: 18px;
}

.cbbcolumn{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 880px) {
    .cbbcontainer {
        flex-direction: column;
    }

    .cbbcolumn{
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }

    .cbbcolumn-1_3 {
	    width: 100%;
    }

    .cbbcolumn-2_3 {
        width: 100%;
    }
}