.slds-item {
    max-height: 50px;
    padding: 0 12px;
    position: relative;
  }
  
  .slds-item:hover {
    background-color: rgba(28, 53, 93, 0.04);
  }
  
  .site-logo {
    width:130px;
  }
  
  .logo-wrapper {
    display: block;
  }
  
  .mobile-menu {
    width:100%;
    display: block;
  }
  
  .nav-items {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .navbar {
    background: transparent;
    color: #32323a;
    font-weight: bold;
    z-index: 8000;
    height: 60px;
    width: 100%;
    font-family: sans-serif;
  }
  
  .slds-list_horizontal {
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  
  @media screen and (max-width: 1200px) {
    
    .navbar {
      height: fit-content;
      font-size: 14px;
      text-align: center;
      margin-top: 12px;
    }
  
    .slds-item{
      flex: auto;
      justify-content: center;
      display: flex;
    }
    .nav-items{
      display: flex;
    }
  
    /*
    .nav-items.mobile-hide {
      display: none;
    }
    */
  
    .logo-wrapper {
      display: none;
    }
  }

  
@media (min-width: 1330px) {
  .header__menu-list-item:not(:last-child) {
      margin-right: 38px;
  }
}

@media (min-width: 1330px) {
  .header__menu-list-item:not(:last-child) {
      margin-right: 38px;
  }
}

@media (min-width: 1300px) {
  .header__menu-list-item:not(:last-child) {
      margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .header__menu-list-item:not(:last-child) {
      margin-right: 13px;
  }
}

@media (min-width: 992px) {
  .header__menu-list-item:not(:last-child) {
      margin-right: 28px;
  }
}

.header__menu-list-item.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  transform: translate3d(0px, 23px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.hamburger-menu-icon {
  display: none;
}

@media screen and (max-width: 992px) {
  /* Show the hamburger menu icon on small screens */
  .hamburger-menu-icon {
      display: block;
  }

  /* Hide the navigation menu items on small screens */
  .navItemsClasses {
      display: none;
  }
}