.slds-item {
    max-height: 50px;
    padding: 0 12px;
    position: relative;
  }
  
  .slds-item:hover {
    background-color: rgba(28, 53, 93, 0.04);
  }
  
  .site-logo {
    width:130px;
  }
  
  .logo-wrapper {
    display: block;
  }
  
  .mobile-menu {
    width:100%;
    display: block;
  }

  .navbar-container{
    background-color: #2d2e83;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .navbar {
    background: transparent;
    color: #fff;
    font-weight: bold;
    z-index: 8000;
    width: 100%;
    font-family: sans-serif;
  }
  
  .nav-items {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .slds-list_horizontal {
    align-items: center;
    width: 100%;
    justify-content: center;
  }

.hamburger-icon {
    --slds-c-icon-color-foreground-default: #fff;
    --slds-c-icon-color-background: transparent;
}

.hamburger-menu {
  background-color: #2d2e83;
  height: 100vh;
  text-align: center;
  padding-top: 40px;
}

.mobile-header.hamburger-open{
  background-color: #2d2e83;
}

.dropdown-toggle:hover .dropdown-menu {
  display: block;
  position: absolute;
  transform: translate3d(0px, 23px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

.mobile-header {
  display: none;
}

.hamburger-menu{
  display: none;
}

.contact-button{
  font-family: 'CiutadellaRoundedBOLD', sans-serif;
  background-color: rgb(255, 40, 65);
  display: inline-block;
  border-radius: 50px;
  padding: 10px 20px;
  margin-left: 25px;
  border: 0;
  font-size: 1.75rem;
  margin-top: 40px;
}

@media screen and (max-width: 992px) {

  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
  }

  .hamburger-menu{
    display: block;
  }

  .mobile-hide {
    display: none;
  }

  .navbar-container{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  
  /* Show the hamburger menu icon on small screens */
  .hamburger-menu-icon {
      display: block;
  }

  /* Hide the navigation menu items on small screens */
  .navItemsClasses {
      display: none;
  }
}