.toggle-container {
  max-width: 840px;
  margin: 0 auto;
  border-top: 1px solid #BDCDDF;
  border-bottom: 1px solid #BDCDDF;  
  padding: 15px 20px;
  background-color: #fff;
}
.toggle-container2 {
  max-width: 840px;
  margin: 0 auto;
  border-top: 1px solid #BDCDDF;
  border-bottom: none;  
  padding: 15px 20px;
  background-color: #fff;
}

.toggle-switch {
  font-family: "CiutadellaRoundedBOLD",sans-serif;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  gap: 25px;
  align-items: center;
}

.active, .toggle-switch:hover {
  background-color: #fff;
}

.toggle-content {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: #fff;
  overflow: hidden;
}

.toggle-icon {
    --slds-c-icon-color-foreground-default: #000;
    --slds-c-icon-color-background: transparent;
}

@media screen and (max-width: 880px) {
  .toggle-container {
    margin: 0 20px;
  }
}