.contentblockA-container {
	max-width: 100%;
	margin: 0 auto;
	font-size: 18px;
}
.contentblockA-row {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
}

.contentblockA-column {
	display: flex;
	flex-direction: column;
}

.contentBlockAcolumn-1_3 {
	width: 33%;
}

.contentBlockAcolumn-2_3 {
	width: 67%;
}


@media screen and (max-width: 600px) {
	.contentBlockAcontent-row{
		flex-direction: column;
	}

	.contentBlockAcolumn-1_3 {
		width: 100%;
	}

	.contentBlockAcolumn-2_3 {
		width: 100%;
	}
}