.cbacontainer {
	max-width: 100%;
	margin: 18px auto;
	font-size: 18px;
}
.cbarow {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
}

.cbacolumn {
	display: flex;
	flex-direction: column;
}

.cbacolumn-1_3 {
	width: 33%;
}

.cbacolumn-2_3 {
	width: 67%;
}


@media screen and (max-width: 600px) {
	.cbarow{
		flex-direction: column;
	}

	.cbacolumn-1_3 {
		width: 100%;
	}

	.cbacolumn-2_3 {
		width: 100%;
	}
}