.question-title{
    font-size: 48px;
    line-height: 48px;
}

.regular-answer{
    font-size: 20px;
    line-height: 36px;
    color: #121212;
}

.background-answer{
    font-size: 20px;
    line-height: 36px;
    color: #121212;
    background-color: #e3ebf3;
    border-radius: 40px 40px 40px 40px;
}

.background-answer-position{
    padding: 40px;
}

.border-answer{
    font-size: 20px;
    line-height: 36px;
    color: #121212;
    border-radius: 40px 40px 40px 40px;
    border-width: 0.2rem;
    border-color: #e3ebf3;
    border-style: solid;
}

.topic-position{
    padding-bottom: 40px;
}

.paragraph-position{
    line-height: 19px;
}

.title{
    font-size: 60px;
    line-height: 60px;
    color: #121212;
}

.ciutadellaRoundedBold-font-family{
    font-family: 'CiutadellaRoundedBOLD';
}

.ciutadellaRoundedRegular-font-family{
    font-family: 'CiutadellaRoundedRegular';
}

@media only screen and (max-width: 768px) {
    .video-width{
        width: 250px;
    }
}
.calloutNote{
    max-width: 100%;
    margin: 18px auto;
    border-radius: 15px;
    border: 2px solid #2441ff;
    padding: 20px;
    background-color:#F1F5F9;
}
.calloutWarning{
    max-width: 100%;
    margin: 18px auto;
    border-radius: 15px;
    border: 2px solid #ff2441;
    padding: 20px;
    background-color: #faebee;
}

.calloutContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.calloutIcon {
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.calloutText {
    flex: 1;
}

@media screen and (max-width: 600px) {
    .calloutContent {
        flex-direction: column;
    }
}
.pageCalloutContainer {
    max-width: 100%;
    margin: 18px auto;
    border-radius: 15px;
    border: 2px solid #2441ff;
    padding: 20px;
    background-color:#F1F5F9;  
}

.pageCalloutIcon {
  width: 100px;
  height: 100px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.pageCalloutTitle {
    font-family: "CiutadellaRoundedBOLD",sans-serif;

}

.pageCalloutContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.pageCalloutText {
  flex: 1;
}

@media screen and (max-width: 600px) {
  .pageCalloutContent {
    flex-direction: column;
  }
}
@font-face {
    font-family: 'CiutadellaRoundedBOLD';
    src: url('/resource/Shuttel_font/Lettertype/CiutadellaRounded-Bold.otf');
  
}
@font-face {
    font-family: 'CiutadellaRoundedRegular';
    src: url('/resource/Shuttel_font/Lettertype/CiutadellaRounded-Regular.otf');
}

.toggle-container {
    max-width: 100%;
    margin: 0 auto;
    border-top: 1px solid #BDCDDF;
    border-bottom: 1px solid #BDCDDF;  
    padding: 15px 20px;
    background-color: #fff;
}

.toggle-container2 {
    max-width: 100%;
    margin: 0 auto;
    border-top: 1px solid #BDCDDF;
    border-bottom: none;  
    padding: 15px 20px;
    background-color: #fff;
}

.toggle-switch {
    font-family: "CiutadellaRoundedBOLD",sans-serif;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    gap: 25px;
    align-items: center;
}

.active, .toggle-switch:hover {
    background-color: #fff;
}

.toggle-content {
    font-size: 18px;
    padding: 20px 0;
    background-color: #fff;
    overflow: hidden;
}
  
.toggle-icon {
    --slds-c-icon-color-foreground-default: #000;
    --slds-c-icon-color-background: transparent;
}
.tabs-container{
    margin: 18px auto;
  }
  
  .tabs {
    display: flex;
    overflow: hidden;
    border-bottom: 0;
    font-family: "CiutadellaRoundedRegular",sans-serif;
    font-size: 18px;
    border-color: #BDCDDF;
  }
  
  .tab-link {
    float: left;
    cursor: pointer;
    padding: 14px 40px;
    transition: 0.3s;
    font-weight: bold;
  }
  
  .tab-active .tab-link {
    font-family: "CiutadellaRoundedBOLD", sans-serif;
    position: relative;
    bottom: -1px;
    border-color: #BDCDDF;
    background-color: white;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-bottom: 2px solid #F1F5F9;
    border-radius: 20px 20px 0 0;
    z-index: 3;
    color: #2D2E83;
    text-decoration: none;
    font-weight: bold;
  }
  
  .tabs button:hover {
    background-color: #ddd;
  }
  
  .tabs button.active {
    background-color: white;
  }
  
  .tabcontent {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
    position: relative;
    padding: 40px 40px;
    border-color: #BDCDDF;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    z-index: 1;
    margin-top: -1px;
  }
  
  .tabcontent-image{
    max-width: 33%;
  }
  
  .tabcontent-text{
    flex: 1;
  }
  
  @media screen and (max-width: 520px) {
    .tab-link{
        padding: 14px 20px;
    }
  }

.cbacontainer {
	max-width: 100%;
    margin: 18px auto;
	font-size: 18px;
}
.cbarow {
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: center;
}

.cbacolumn {
	display: flex;
	flex-direction: column;
}

.cbacolumn-1_3 {
	width: 33%;
}

.cbacolumn-2_3 {
	width: 67%;
}


@media screen and (max-width: 600px) {
	.cbarow{
		flex-direction: column;
	}

	.cbacolumn-1_3 {
		width: 100%;
	}

	.cbacolumn-2_3 {
		width: 100%;
	}
}


.cbbcontainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-width: 100%;
    margin: 18px auto;
    font-size: 18px;
}

.cbbcolumn{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 880px) {
    .cbbcontainer {
        flex-direction: column;
    }

    .cbbcolumn{
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
    }

    .cbbcolumn-1_3 {
	    width: 100%;
    }

    .cbbcolumn-2_3 {
        width: 100%;
    }
}