.note{
    border-radius: 15px;
    border: 2px solid #243bff;
    padding: 20px;
    background-color:#eceefb;
    margin-left: 40px;
    margin-right: 40px;
}
.warning{
    border-radius: 15px;
    border: 2px solid #ff284f;
    padding: 20px;
    background-color: #fbecef;
    margin-left: 40px;
    margin-right: 40px;
}