.note{
    max-width: 840px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid #2441ff;
    padding: 20px;
    background-color:#ebedfa;
    margin-bottom: 20px;
}
.warning{
    max-width: 840px;
    margin: 0 auto;
    border-radius: 15px;
    border: 2px solid #ff2441;
    padding: 20px;
    background-color: #faebee;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

@media screen and (max-width: 880px) {
  .note, .warning{
    margin: 0 20px;
  }
}